<h1 id="skillz"><span>My Skills</span></h1>

  <% @skills.each do |skill| %>>
  <div<%=skill.id%>">
    <h3><span><%= skill.id %>: <a href="/skills/<%= skill.id %>"><%=skill.name %></a></span></h3>
    <div style="padding: 10px;">
    <a class="btn-large" href="/skills/<%= skill.id %>/edit">Edit</a>
    <form action="/skills/<%= skill.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE"/>
      <input class="btn-large" type="submit" value="delete"/>
    </form>
  </div>
  <% end %>
</div>
